/* Schema.org */
#mainContent {
    border-bottom: none !important;
    max-width: 1440px !important;
}

/* Glyphicon */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.eot');
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
    font-size: 15px;
}

.glyphicon-tag:before {
    content: '\e041';

}

.glyphicon-list-alt:before {
    content: "\e032";
}

/* Common */
.optional-property { color: #ffa517; }
.mandatory-property { color: #00ce0c; }

table.definition-table { border: 1px solid #98A0A6; width: 100%;}

.ds-selector {
    padding: 0 !important;
}
.ds-selector-tabs .selectors {
    border-bottom: 1px solid #98A0A6 !important;
}
.ds-selector-tabs .selectors a:first-child { margin-left: 0px; }

.ds-selector-tabs .selectors a.selected {
    border: 1px solid #98A0A6 !important;
}

#btn-row { padding: 12px 0px 12px 5px; }
.btn-vis { padding: 5px; }
.btn-vis-shadow {
    cursor: pointer;
    webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Tree view */
#div-iframe { padding-right: 6px; }
#table-view, #iframe-jsTree {
     border-left: 1px solid #98A0A6;
     border-right: 1px solid  #98A0A6;
     border-bottom: 1px solid  #98A0A6;
}
#iframe-jsTree { padding: 2px; }

.jstree-grid-wrapper {
    display: inline-table !important;
}