/* Schema.org */
@import url("https://schema.org/docs/schemaorg.css");

/* Glyphicon */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.eot');
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font: normal normal 16px/1 'Glyphicons Halflings';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
}

.glyphicon-tag:before {
    content: '\e041';

}

.glyphicon-list-alt:before {
    content: "\e032";
}

/* Common */
.optional-property { color: #ffa517; }
.mandatory-property { color: #00ce0c; }
#mainContent { border-bottom: none; }
table.definition-table { border: 1px solid #98A0A6 }

.ds-selector {
    padding: 0px;
}
.ds-selector-tabs .selectors {
    border-bottom: 1px solid #98A0A6;
}
.ds-selector-tabs .selectors a:first-child { margin-left: 0px; }

.ds-selector-tabs .selectors a.selected {
    border: 1px solid #98A0A6;
}

#btn-row { padding: 12px 0px 12px 5px; }
.btn-vis { padding: 5px; }
.btn-vis-shadow {
    cursor: pointer;
    webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

/* Tree view */
#div-iframe { padding-right: 6px; }
#table-view, #iframe-jsTree {
     border-left: 1px solid #98A0A6;
     border-right: 1px solid  #98A0A6;
     border-bottom: 1px solid  #98A0A6;
}
#iframe-jsTree { padding: 2px; }


/* Table view */
#table-view table {
    border-collapse: collapse;
    width: 100%;
}

#table-view td {
    border-bottom: 1px solid #98A0A6;
    border-right: 1px solid #98A0A6;
    padding: 0 5px 0 5px;
    border-left: none;
    border-top: none;
}

#table-view .enumTd {
    border-bottom: 1px solid #98A0A6 !important;
}

#table-view.enumTable tr:last-child td {
    border-bottom: none !important;
}

#table-view td.innerTable {
    padding: 0;
}

#table-view table > tbody > tr:last-child > td {
    border-bottom: none;
}

#table-view table > tbody > tr > td:last-child {
    border-right: none;
}

#table-view .depth1 {
    background-color: #f5f5f5;
}

#table-view .depth2{
    background-color: #e8e8e8;
}

#table-view .depth3 {
    background-color: #dadada;
}

#table-view .cardinality {
    text-align: center;
}

#table-view .first-row-ds {
    background-color: #990000;
    color: white;
}

#table-view .first-row-ds a {
    color: white;
    text-decoration: underline;
}

#table-view .align-items {
    display: flex;
    align-items: center;
}
