/* Schema.org */
@import url("https://schema.org/docs/schemaorg.css");

/* Glyphicon */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.eot');
    src: url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font: normal normal 16px/1 'Glyphicons Halflings';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-right: 4px;
}

.glyphicon-tag:before {
    content: '\e041';

}

.glyphicon-list-alt:before {
    content: "\e032";
}

/* Common */
.optional-property { color: #ffa517; }
.mandatory-property { color: #00ce0c; }
#mainContent { border-bottom: none; }
table.definition-table { border: 1px solid #98A0A6 }

.ds-selector {
    padding: 0px;
}
.ds-selector-tabs .selectors {
    border-bottom: 1px solid #98A0A6;
}
.ds-selector-tabs .selectors a:first-child { margin-left: 0px; }

.ds-selector-tabs .selectors a.selected {
    border: 1px solid #98A0A6;
}

/* Tree view */
#div-iframe { padding-right: 6px; }
#table-ds, #iframe-jsTree {
     border-left: 1px solid #98A0A6;
     border-right: 1px solid  #98A0A6;
     border-bottom: 1px solid  #98A0A6;
}
#iframe-jsTree { padding: 2px; }


/* Table view */
#table-ds, #table-ds table {
    border-collapse: collapse;
    width: 100%;
}

#table-ds td {
    border-bottom: 1px solid #98A0A6;
    border-right: 1px solid #98A0A6;
    padding: 0 5px 0 5px;
    border-left: none;
    border-top: none;
}

#table-ds td.innerTable {
    padding: 0;
}

#table-ds tr:last-child td {
    border-bottom: none;
}

#table-ds tr td:last-child {
    border-right: none;
}

#table-ds .secondLevel {
    background-color: #f5f5f5;
}

#table-ds .secondLevel {
    background-color: #f5f5f5;
}

#table-ds .thirdLevel {
    background-color: #e8e8e8;
}

#table-ds .fourthLevel {
    background-color: #dadada;
}

#table-ds .cardinality {
    text-align: center;
}

#table-ds .first-row-ds {
    background-color: #990000;
    color: white;
}

#table-ds .first-row-ds a {
    color: white;
    text-decoration: underline;
}
